.social-networks
  nav.social-networks__list
    li.social-networks__item
      a.social-networks__link(href="#{twitterLink}/intent/tweet?text=#{page_url}")
        i.fa.fa-twitter.social-networks__icon
        .social-networks__title.visuallyhidden {{t('common.twitter')}}
    li.social-networks__item
      a.social-networks__link(href="https://www.facebook.com/dialog/feed?app_id=#{facebook_app_id}&display=popup&caption=#{page_title}&link=#{page_url_safe}&redirect_uri=#{page_url_safe}")
        i.fa.fa-facebook.social-networks__icon
        .social-networks__title.visuallyhidden {{t('common.facebook')}}
