extends layout/layout

block title
  | #{decisionTitle} {{t('common.details')}}

block content

  .middle-container
    h1.page-heading #{decisionTitle}

    for decision in decisions
      .decision
        h2.sub-heading.sub-heading--light #{decision.type}
        .decision__data
          != decision.text

    if attachments
      .related-documents
        h2.sub-heading.sub-heading--light {{t('decision.related_documents_title')}}
        ul.icon-list
          for attachment in attachments
            li.icon-list-item: a.icon-list-item__link(href="#{attachment.file_uri}")
              i.fa.fa-file-text.icon-list-item__icon
              = " "
              span.icon-list-item__text
              | #{attachment.name}

    h2.sub-heading.sub-heading--light {{t('decision.take_action')}}
    p {{t('decision.get_involved')}}

    form.hackpad(action="#{hackpadLink}", method='post')
      input(type='hidden', name='referring_decision', value='{{decisionId}}')
      button.social-networks__link.social-networks__link--hackpad(type='post', value="{{t('common.hackpad')}}")
        span.social-networks__title {{t('common.hackpad')}}

    include _social_networks
