extends layout/layout

block title
  | #{decisionTitle} {{t('common.details')}}

block content

  .middle-container
    h1.page-heading #{decisionTitle}

    for decision in decisions
      .decision-summary
        h2.sub-heading.sub-heading--light #{decision.type}
        .decision-summary__data
          #{decision.text}

    //-.related-documents
      h2.sub-heading.sub-heading--light {{t('decision.related_documents_title')}}
      ul.icon-list
        //- for document in documents
        li.icon-list-item: a.icon-list-item__link(href="#")
          i.fa.fa-file-text.icon-list-item__icon
          = " "
          span.icon-list-item__text
          | Doc name

    .social-networks
      h2.sub-heading.sub-heading--light {{t('decision.take_action')}}
      p {{t('decision.get_involved')}}
      nav.social-networks__list
        li.social-networks__item
          a.social-networks__link(href="#{hackpadLink}")
            i.fa.fa-3x.fa-book.social-networks__icon
            .social-networks__title {{t('common.hackpad')}}
        li.social-networks__item
          a.social-networks__link(href="#{twitterLink}/intent/tweet?text=#{path}")
            i.fa.fa-3x.fa-twitter.social-networks__icon
            .social-networks__title {{t('common.twitter')}}
        li.social-networks__item
          a.social-networks__link(href="https://www.facebook.com/dialog/feed?app_id=#{facebook_app_id}&display=popup&caption=#{page_title}&link=#{path_safe}&redirect_uri=#{path_safe}")
            i.fa.fa-3x.fa-facebook.social-networks__icon
            .social-networks__title {{t('common.facebook')}}

    //-.decision-action
      h2.sub-heading.sub-heading--dark Resolution
      p Roast so single shot redeye milk frappuccino, body sit con panna extra beans, single shot java est caramelization mazagran caramelization, sit dripper body con panna et, so, lungo arabica seasonal at medium doppio, medium coffee cup barista extra. Skinny wings half and half to go, aroma sugar aged instant doppio organic as, strong cultivar body caffeine filter doppio barista extraction.
