extends layout/layout

//-{% last_friendly_date = "" %}

block title
  | {{t('results.results_for')}} #{searchTerm}

block content

  .middle-container
    form.interested-in(action="/search", method="get", autocomplete="off")
      p.interested-in__lede {{(t('index.search_decisions'))}}
      p.interested-in-search
        label.interested-in-search__label(for="interested-in")
          | {{t('index.im_interested_in')}}
        span.interested-in-search__input-container
          input.interested-in-search__input(type="text", id="interested-in", name="q", value=searchTerm, autofocus=autoFocusOnSearch)
      .interested-in-search__actions
        button(type="submit", value="{{t('common.find')}}")

    if showSubscribeBox
      form.subscribe-to-topic(action="/subscribers", method="POST")
        input(type="hidden", value=searchTerm, name="topic")
        p.subscribe-to-topic__intro-text
          | {{t('results.receive_updates')}}
          = " "
          span.search-term #{searchTerm}
          | ?
        .columns
          .column.two-thirds
            .subscribe-to-topic__input_wrapper
              input.subscribe-to-topic__input(type="email", name="email", id="e-address", required)
              label.subscribe-to-topic__label(for="e-address")
                i.fa.fa-envelope-o
                span.visuallyhidden {{t('common.email_address')}}
          .column.one-third
            button.button.button--dark.button--full-width.subscribe-to-topic__button(type="submit")
              | {{t('common.subscribe')}}


    .results-list
      {% for result in results %}
      {% if result.friendly_date != last_friendly_date %}
      time.date-heading(datetime="{{ result.last_modified_time }}")
        span.date-heading__title {{ result.friendly_day }}
        span.date-heading__date {{ result.friendly_date }}
      {% endif %}
      .results-list__item
        a.results-list__item__link(href="/decision/#{result.id}")
          h2.results-list__item__title {{ result.subject }}
          p.results-list__item__description {{ result.issue_subject }}
      {% set last_friendly_date = result.friendly_date %}
      {% endfor %}
