extends layout/layout

block title
  | Results for #{searchTerm}

block content

  .middle-container
    form.interested-in(action="/search", method="get", autocomplete="off")
      p.interested-in-search
        label.interested-in-search__label(for="interested-in")
          | I’m interested in
        input.interested-in-search__input(type="text", id="interested-in", name="q", value=searchTerm)
      .interested-in-search__actions
        button(type="submit", value="find")


    form.subscribe-to-topic(action="/subscribers", method="POST")
      input(type="hidden", value=searchTerm, name="topic")
      p.subscribe-to-topic__intro-text
        | Would you like to receive updates on
        = " "
        span.search-term #{searchTerm}
        | ?
      .columns
        .column.two-thirds
          .subscribe-to-topic__input_wrapper
            input.subscribe-to-topic__input(type="email", name="email", id="e-address", required)
            label.subscribe-to-topic__label(for="e-address")
              i.fa.fa-envelope-o
              span.visuallyhidden Email address
        .column.one-third
          button.subscribe-to-topic__button(type="submit")
            | Subscribe

    //time.date-heading(datetime="03/06/2015 20:00")
    //  span.date-heading__title Yesterday
    //  span.date-heading__date Yesterday

    ul.results-list
      for result in results
        li.results-list__item
          a.results-list__item__link(href=result.permalink)
            h2.results-list__item__title #{result.subject}
            span.date-heading__title #{result.last_modified_time}
            p.results-list__item__description #{result.issue_subject}
